{% for post in page %}
    <h3>
        Автор: <a href="{% url 'profile' post.author %}"><class="d-block text-gray-dark">{{ post.author.get_full_name }}</a>, Дата публикации: {{ post.pub_date|date:"d M Y" }}
    </h3>
    {% load thumbnail %}
    {% thumbnail post.image "960x260" crop="center" upscale=True as im %}
            <img class="card-img" src="{{ im.url }}">
    {% endthumbnail %}
    <p>{{ post.text|linebreaksbr }}</p>
    <hr>
{% endfor %}
{% if page.has_other_pages %}
    {% include "paginator.html" with items=page paginator=paginator%}
{% endif %}